# PostgreSQL Configuration
POSTGRES_DB=ecom_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Kafka Configuration
KAFKA_PORT=9092
ZOOKEEPER_PORT=2181

# Redis Configuration
REDIS_PORT=6379
